.content-heading {
    display: block;
    width: 80%;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 3.2rem;
    text-align: center;
    color: transparent;
    letter-spacing: 1.2rem;
    margin: 12px auto;
    -webkit-background-clip: text;  
    // đổ backgound-image vào text
    text-transform: uppercase;
    background-image: linear-gradient(to right, rgba($dark-primary-color, .9), rgba($medium-primary-color, .1));
    transition: transform linear 0.2s;
    cursor: pointer;
    z-index: 999;

    &:hover {
        transform: skewY(5deg) scale(1.1) ;
        text-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);
    }

    @include responsive(Mobile) {
        font-size: 2rem;
        letter-spacing: 0.6rem;
        line-height: 2rem;
    }
}